{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сервіс обліку студентів - {% block meta_title %}{% endblock meta_title %}</title>
    <meta name="description" value="Система Обліку Студентів Навчального Закладу"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Include Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
<div class="container">
    <!-- Start Header -->
    <div class="row" id="header">
        <!-- Logo -->
        <div class="col-xs-8">
            <h1>Сервіс Обліку Студентів</h1>
        </div>
        <!-- Groups Selector -->
        <div class="col-xs-4" id="group-selector">
            <strong>Групи:</strong>
            <select>
                <option value="">Всі групи</option>
                {% for group in GROUPS %}
                    <option value="{{ group.id }}" {% if group.selected %}selected='1'{% endif %}>
                        {{ group.title }}{% if group.liader %}, {{ group.liader }}{% endif %}</option>
                {% endfor %}
            </select>
        </div>

    </div>
    <!-- End Header -->
    <!-- Start SubHeader -->
    <div class="row" id="sub-header">
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                {% url "home" as home_url %}
                {% url "groups_list" as groups_list_url %}
                {% url "journal" as journal_url %}
                {% url 'exams_list' as exams_list_url %}
                {% url 'contact_admin' as contact_admin_url %}
                <li role="presentation" {% if request.path == home_url %} class="active" {% endif %}><a
                        href="{% url "home" %}">Студенти</a></li>
                <li role="presentation" {% if request.path == groups_list_url %} class="active" {% endif %}><a
                        href="{% url "groups_list" %}">Групи</a></li>
                <li role="presentation" {% if request.path == journal_url %} class="active" {% endif %}><a
                        href="{% url "journal" %}">Відвідування</a></li>
                <li role="presentation" {% if request.path == exams_list_url %} class="active" {% endif %}><a
                        href="{% url "exams_list" %}">Іспити</a></li>
                <li role="presentation" {% if request.path == contact_admin_url %} class="active" {% endif %}><a
                        href="{% url "contact_admin" %}">Контакт</a></li>
            </ul>
        </div>

    </div>
    <!-- End SubHeader -->
    <!-- Start Main Page Content -->

    <div class="row" id="content-columns">
        <div class="col-xs-12" id="content-column">
            <!-- Status Message -->

            {% block status_message %}
                {% if request.GET.status_message %}
                    <div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
                {% endif %}
            {% endblock status_message %}
            <h2>{% block title %}{% endblock title %}</h2>
            {% block content %}


            {% endblock content %}
        </div>

    </div>
    <!-- End Main Page Content -->

    <!-- Start Footer -->
    <div class="row" id="footer">
        <div class="col-xs-12">

            <h1> The last Chance for me to understand the suka Django </h1>
            &copy; 2017 Сервіс Обліку Студентів
        </div>

    </div>
    <!-- End Footer -->

</div>

<!-- End Container -->

<!-- Modal Boilerplate -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<!-- Javascripts Section -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>