{% extends 'students/base.html' %}
{% load static from staticfiles %}
{% block meta_title %}Групи{% endblock meta_title %}
{% block title %}Список груп{% endblock title %}
{% block content %}

            <a class="btn btn-primary btn-add-student" href="#">Додати групу</a>
            <!-- Start Groups Listing -->
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Назва</th>
                    <th>Староста</th>
                    <th>Дії</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Бандерлоги</td>
                    <td>Анастасія</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Дія
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Відвідування</a></li>
                                <li><a href="#">Редагувати</a></li>
                                <li><a href="#">Видалити</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Бандерлоги</td>
                    <td>Анастасія</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Дія
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Відвідування</a></li>
                                <li><a href="#">Редагувати</a></li>
                                <li><a href="#">Видалити</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Бандерлоги</td>
                    <td>Анастасія</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Дія
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Відвідування</a></li>
                                <li><a href="#">Редагувати</a></li>
                                <li><a href="#">Видалити</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Бандерлоги</td>
                    <td>Анастасія</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Дія
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Відвідування</a></li>
                                <li><a href="#">Редагувати</a></li>
                                <li><a href="#">Видалити</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Бандерлоги</td>
                    <td>Анастасія</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Дія
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Відвідування</a></li>
                                <li><a href="#">Редагувати</a></li>
                                <li><a href="#">Видалити</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
                </tbody>

            </table>
            <!-- End Groups Listing -->
<!-- Pagination -->
    {% include 'students/pagination.html' %}
    <!-- End Pagination -->
{% endblock content %}