{% extends 'students/base.html' %}
{% load static from staticfiles %}
{% block meta_title %}Відвідування{% endblock meta_title %}
{% block title %}Журнал відвідування{% endblock title %}
{% block content %}
            <!-- Start Journal Listing -->
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Студент</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>Нд</th>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>Нд</th>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>Нд</th>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>Нд</th>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>1</td>
                            <td>Анастасія Каменських</td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>

                        </tr>
                <tr>
                            <td>2</td>
                            <td>Міла Куніс</td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>

                        </tr>
                <tr>
                            <td>3</td>
                            <td>Алісія Вікандер</td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>

                        </tr>
                <tr>
                            <td>4</td>
                            <td>Потап</td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>

                        </tr>
                <tr>
                            <td>5</td>
                            <td>Христина Соловій</td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>
                            <td><input type="checkbox" name="" value=""></td>

                        </tr>

                </tbody>

            </table>
            <!-- End Journal -->
{% endblock content %}