{% extends 'students/base.html' %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}База студентів{% endblock title %}
{% block content %}
    <h1></h1>
    <a class="btn btn-primary btn-add-student" href="{% url 'students_add' %}">Додати студента</a>
    <!-- Start Students Listing -->
    <table class="table table-hover table-striped">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
        {% url "home" as home_url %}
        <thead>
        <tr>
            <th><a href="{% url 'home' %}?order_by=count{% if order_by == 'count' and reverse != '1' %}&amp;reverse=1{% endif %}">№
                    {% if order_by == 'count' and reverse != '1' %}&uarr;
                        {% elif order_by == 'count' and reverse == '1' %}&darr;

                    {% endif %}
                </a>
                </th>
            <th>Фото</th>
            <th>
                <a href="{% url 'home' %}?order_by=last_name{% if request.get_full_path == '/' or order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">Прізвище
                   {% if request.get_full_path == '/' or order_by == 'last_name' and reverse != '1' %}&uarr;
                        {% elif order_by == 'last_name' and reverse == '1' %}&darr;

                    {% endif %}
                </a></th>
            <th>
                <a href="{% url 'home' %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">Імя
                    {% if order_by == 'first_name' and reverse != '1' %}&uarr;
                        {% elif order_by == 'first_name' and reverse == '1' %}&darr;
                    {% endif %}
                </a></th>
            <th>
                <a href="{% url 'home' %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">№Білету
                    {% if order_by == 'ticket' and reverse != '1' %}&uarr;
                        {% elif order_by == 'ticket' and reverse == '1' %}&darr;
                    {% endif %}
                </a></th>
            <th>Дії</th>
        </tr>
        </thead>
    {% endwith %}
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ forloop.counter }}
{#                {% if request.get_full_path  == home_url and request.GET.order_by != 'count' and request.GET.reverse != '1' %}#}
{##}
{#                {{ forloop.counter }}#}
{#                    {% elif request.GET.order_by == 'count' and request.GET.reverse == '1' %}#}
{#                    {{ forloop.revcounter }}#}
{#                    {% elif  request.GET.order_by == 'count' and request.GET.reverse != '1' %}#}
{#                    {{ forloop.counter }}#}
{#                    {% endif %}#}
                </td>
                {% if student.photo %}
                    <td><img src="{{ student.photo.url }}" height="50px" width="50px"
                             class="img-circle"/></td>

                {% else %}
                    <td><img src="{% static "img/default-user.png" %}" height="50px" width="50px"
                             class="img-circle"/></td>

                {% endif %}

                <td><a href="{% url 'students_edit' student.id %}"> {{ student.last_name }}</a></td>
                <td><a href="{% url 'students_edit' student.id %}"> {{ student.first_name }}</a></td>
                <td>{{ student.ticket }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Дія
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="/journal/{{ student.id }}">Відвідування</a></li>
                            <li><a href="{% url 'students_edit' student.id %} %}">Редагувати</a></li>
                            <li><a href="{% url 'students_delete' student.id %} %}">Видалити</a></li>
                        </ul>
                    </div>

                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>
    <!-- End Students Listing -->
    <!-- Pagination -->
    {% include 'students/pagination.html' %}
    <!-- End Pagination -->
{% endblock content %}