{% extends 'students/base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block meta_title %}Зв’язок із Адміністратором{% endblock meta_title %}
{% block title %}Зв’язок із Адміністратором{% endblock title %}
{% block content %}
{% for field in form %}
        <div class="form-group {% if field.errors %} has-error {% endif %}">
        <span class="help-block">{{ field.errors }}</span>
        {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>


        <!-- Standard Django form without styles-->
    {#<form action="{% url 'contact_admin' %}" method="post">#}
    {#{% csrf_token %}#}
    {##}
    {#{{ form.as_p }}#}
    {##}
    {#<input type="submit" value="Надіслати" name="send_button">#}
    {#</form>#}

{% endblock content %}